<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>Servelets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfoStudents</servlet-name>
        <servlet-class>Servelets.getInfoStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeForm</servlet-name>
        <servlet-class>Servelets.TimeForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfoStudents</servlet-name>
        <url-pattern>/getInfoStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeForm</servlet-name>
        <url-pattern>/TimeForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
